/* styles.css */

/* Add CSS rules to style the header content */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  height: 150px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

nav {
  background-color: #e0e0e0;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

footer {
  background-color: #003d7c;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slogan {
  text-align: left;
}

/* Header background color and text color */
header {
  background-color: #003d7c;
  color: #fff;
  padding: 10px 20px;
}
/* CSS */
.paragraph-style {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.paragraph-style strong {
  font-weight: bold;
  color: #003d7c; /* Adjust color to match your design */
}

.paragraph-style em {
  font-style: italic;
  color: #666; /* Adjust color to match your design */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  /* Optional: Add some basic styling */
  button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
 
  /* Center the text within the input field */
  #numberField {
    text-align: center;
    width: 50px;
  }
  .Product {
    text-align: center;
    width: fit-content;
  }
    /* Define styles for the image container */
    #image-container {
      display: none; /* Initially hide the image container */
  }

  /* Define styles for the images */
  img {
      max-width: 100%; /* Ensure images don't exceed container width */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 10px; /* Add spacing between images */
  }